/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 4px;
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #564efd;
  border-radius: 4px;
  border: 2px solid #b7b3ff;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #271bfe;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #564efd #ffffff;
}
